body{
  background-image: url("images/images-9.jpg");
color:#080808 ;
}
.nav{
  background-image: url("images/images-11.jpg");
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color:#f5f8fc ;
}
@media (min-width: 450px) {
  body{
    color:rgb(14, 13, 13);
  }
  
}