body{
    background-color: #E5E5E5;
   margin: 0px;
    
}
#hero-container{
    
    height: 1000px;
    width: 1500px;
    background-image: linear-gradient(to right, #070707, #4B5A71, #9CA1A9);
    border-bottom: rgb(175, 211, 245);
    border-style: solid;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
#nav-container{
    display: flex;
    justify-content: space-evenly;
    
}
#nav-container a{
    margin: 25px; 
    color: #9CA1A9;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}
/* #intro-container{
    float: left;
    margin-top: 100px;
    color: #9CA1A9;
    margin-left: 280px;
}  */
#img{
    box-shadow: 10px 10px 5px grey;
    position: relative;
    left: 170%;
    bottom: 150px;
}
#title{
    margin:15px;
}