body{
  background-color:black;

}
.nav ul{
margin: 20px;
padding: 10px 100px 10px 300px;
border-style: inset;
border-width: 1px; 
border-color: rgb(27, 29, 31);

}

.nav li{
  display: inline;
  margin-right: 100px;
  margin-left: 100px;
  flex-direction: row;
  
}

.header{
  color: rgb(128, 136, 146);
  
}

.container{
  display: flex;
  justify-content: flex-start;
}
 img{
  width: 15%;
  padding: 25px;
}

.about_me{
  width: 40%;
  padding: 15px;
  border-style: solid;
  border-width: .5px;
  border-color: rgb(26, 24, 24);
  position: relative;
left: 500px;
bottom: 50px;
border-

}
.about{
  font-size: 150px;
  color:rgb(5, 5, 5);
  position: relative;
  left: 300px;
  top: 100px;
}