body {
 
  background-color: rgb(229, 243, 235);
}
li {
  display: inline;
  margin-right: 10px;
}
.header {
  text-align: left;
  display: flex;
flex-direction: row;
  }

 .label{
   text-align: center;
 }
  .me{
    text-align: center;
    margin: 50px;
  }

.name{
    font-family: 'Philosopher', sans-serif; 
    font-size: 60px;
}
.nav{
    text-align: center;
    margin: 15px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.my_photo{
  width: 20%;
  float:right;
  padding-right: 10%;
}
.title{
  margin-left: 300px;
  justify-content: center;
  margin-top: 100px;
}
.bb{
  width: 400px;
  position: relative;
  bottom: 400px;
  left:600px
  
}
.onboard{
  position: relative;
  right: 200px;
  

  width: 200px;
}
.home{
  width: 200px;
  position: relative;
  right: 100px;
}

.budget{
  width: 200px;
}
.extend{
  width: 200px;
  position: relative;
  left: 100px;
  top: 200px;
}



@media(min-width:550px;){
  .header {
    text-align: left;
    display: flex;
  flex-direction: row;}
  
  .my_photo{
    width: 40%;
    float:right;
    padding-right: 10%;
  }

}