body {
  background-color: rgb(248, 248, 250);
}
li {
  display: inline;
  margin-right: 10px;
}
.header {
  text-align: left;
  


}
.title {
  text-align: left;
  margin-left: 80px;
  margin-top: 120px;
  margin-bottom: 100px;
}

.name{
    font-family: 'Philosopher', sans-serif; 
    font-size: 60px;
}
.images{
    display: inline-block;
    margin-left: 400px;
}
.nav{
    text-align: center;
    margin: 15px;
    border-bottom: darkgrey;
    border-style: solid;
}
td.discovery{
    min-width: 450px;
    max-width: 650px;
    text-align:left;
    padding: 15px;
    margin: 0px;
}

